# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environments
.env
.venv/

# Tooling caches
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/

# Project related
task-outputs/

# macOS
.DS_Store
